services:
  mongo:
    image: mongo:7
    container_name: prod-mongo
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - mongo-data:/data/db
    networks:
      - backend-net

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    container_name: dev-backend
    restart: unless-stopped
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      MONGO_URI: ${MONGO_URI}
      NODE_ENV: development
      BACKEND_PORT: ${BACKEND_PORT}
    expose:
      - "${BACKEND_PORT}"
    networks:
      - backend-net


  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    container_name: dev-gateway
    restart: unless-stopped
    depends_on:
      - backend
    env_file:
      - .env
    environment:
      NODE_ENV: development
      GATEWAY_PORT: ${GATEWAY_PORT}
      BACKEND_URL: ${BACKEND_URL}
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    networks:
      - backend-net


networks:
  backend-net:

volumes:
  mongo-data:
